body {
    height: 840px;
    width: 1250px;
}


caption {
    text-align: center;
    margin-top: 10px;
    font-size: 2rem;
}
table{
    width: 998px;
    height: 500px;
    text-align: center;
    font-size: 0.8rem;
    font-family: sans-serif;
    margin: auto;
    border-collapse: collapse;
    }

th{
    border: 1px solid white;
    padding: .8rem;
    background-color:hsl(0,0%,20%);
    color:white;
    font-size: 1.4rem;
}
tbody th, td{
  background-color:hsl(0,0%,93%);
  color: #444;
  border: 1px solid black;
}

tbody{
    text-align: left;
}

.synopsis{
    font-size: .8rem;
    padding: 8px;
    background-color: hsl(0,0%,96%);
}

.labels{
    font-size: 1.5rem;
    padding: 8px;
}